<div class="toolbar row">
	<div class="col col-xs-6">
		<a href="/">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</a>
	</div>
	<div class="col col-xs-6 text-right">
		<a href="/exercises/new">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
	</div>
</div>

<div class="item row exercises-list" ng-repeat="exercise in exercises | orderBy:'accessed_at':true">
	<div class="col col-xs-12 title"
		swipe-action
		on-click="stats(exercise)"
		left-label="<span class='glyphicon glyphicon-edit'></span>"
		on-swipe-right="edit(exercise)"
		right-label="<span class='glyphicon glyphicon-trash'></span>"
		on-swipe-left="remove(exercise)">
		{{ exercise.name | characters:25 }}
	</div>
</div>
