<div class="toolbar row">
	<div class="col col-xs-6">
		<a href="/exercises">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</a>
	</div>
</div>

<br />

<div class="row">
	<div class="col col-xs-10 col-xs-push-1">
		<input type="text" placeholder="Название упражнения" class="form-control input-lg" ng-model="exercise.name" />
	</div>
</div>

<br />

<div class="row">
	<div class="col col-xs-10 col-xs-push-1">
		<div class="btn-group-vertical btn-block">
			<button type="button" class="btn btn-default btn-block" ng-class="{active: exercise.weights}" ng-click="exercise.weights = !exercise.weights">Вес</button>
			<button type="button" class="btn btn-default btn-block" ng-class="{active: exercise.times}" ng-click="exercise.times = !exercise.times">Повторения</button>
			<button type="button" class="btn btn-default btn-block" ng-class="{active: exercise.duration}" ng-click="exercise.duration = !exercise.duration">Длительность</button>
			<button type="button" class="btn btn-default btn-block" ng-class="{active: exercise.distance}" ng-click="exercise.distance = !exercise.distance">Дистанция</button>
		</div>
	</div>
</div>

<br />

<div class="row">
	<div class="col col-xs-10 col-xs-push-1">
		<button class="btn btn-primary btn-lg btn-block" ng-click="save(exercise)">
			<span class="glyphicon glyphicon-ok"></span>
			Сохранить
		</button>
	</div>
</div>
