<div class="toolbar row">
	<div class="col col-xs-6">
		<a href="/exercises">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</a>
	</div>
</div>

<br />

<div class="row">
	<div class="col col-xs-10 col-xs-push-1">
		<input type="text" placeholder="Название упражнения" class="form-control input-lg" />
	</div>
</div>

<br />

<div class="row">
	<div class="col col-xs-10 col-xs-push-1">
		<button class="btn btn-primary btn-lg btn-block">
			<span class="glyphicon glyphicon-plus"></span>
			Добавить
		</button>
	</div>
</div>
