<div class="nav">
	<div class="row">
		<div class="col col-md-12">
			<a ng-href="/workouts-start/new">
				Начать тренировку
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col col-md-12">
			<a ng-href="/workouts-history">
				История тренировок
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col col-md-12">
			<a ng-href="/exercises">
				Список упражнений
			</a>
		</div>
	</div>
	<div class="row" ng-hide="user">
		<div class="col col-md-12">
			<a ng-href="/login">
				Логин
			</a>
		</div>
	</div>
</div>
