<div ng-show="!adding">
	<div class="toolbar row">
		<div class="col col-xs-6">
			<a href="" ng-click="finish()">
				<span class="glyphicon glyphicon-arrow-left"></span>
			</a>
		</div>

		<div class="col col-xs-6 text-right">
			<a href="" ng-click="adding = true">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</div>

	<div class="item row" ng-repeat="completed in workout.exercises">
		<div class="col col-xs-8 title">
			{{ completed.exercise.name }}
		</div>
		<div class="col col-xs-2 ex-weight">
			{{ completed.weight }}
		</div>
		<div class="col col-xs-2 ex-times">
			{{ completed.times }}
		</div>
	</div>
</div>

<div ng-show="adding && !current.exercise">
	<div class="toolbar row">
		<div class="col col-xs-6">
			<a href="" ng-click="adding = false">
				<span class="glyphicon glyphicon-arrow-left"></span>
			</a>
		</div>
	</div>

	<div class="item row" ng-repeat="exercise in exercises">
		<div class="col col-xs-12 title" ng-click="current.exercise = exercise">
			{{ exercise.name }}
		</div>
	</div>
</div>

<div ng-show="adding && current.exercise">
	<div class="toolbar row">
		<div class="col col-xs-6">
			<a href="" ng-click="unsetExercise()">
				<span class="glyphicon glyphicon-arrow-left"></span>
			</a>
		</div>
	</div>

	<br />

	<div class="row">
		<div class="col col-xs-10 col-xs-push-1">

			<div class="row">
				<div class="col col-xs-12">
					<input type="text" placeholder="Вес" class="form-control input-lg" ng-model="current.weight" />
				</div>
			</div>

			<br />

			<div class="row">
				<div class="col col-xs-12">
					<input type="text" placeholder="Кол-во повторений" class="form-control input-lg" ng-model="current.times" />
				</div>
			</div>

			<br />

			<div class="row">
				<div class="col col-xs-12">
					<button class="btn btn-primary btn-lg btn-block" ng-click="addExercise(current)">
						<span class="glyphicon glyphicon-plus"></span>
						Добавить
					</button>
				</div>
			</div>

		</div>
	</div>
</div>
