<div ng-show="!workout.initialState">
	<div class="toolbar row">
		<div class="col col-xs-6">
			<a ng-href="/">
				<span class="glyphicon glyphicon-arrow-left"></span>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col col-xs-10 col-xs-push-1">
			<h2 class="text-center">Состояние перед тренировкой</h2>
			<br />
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<button class="btn btn-lg st-1" ng-click="workout.initialState = 1">1</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-lg st-2" ng-click="workout.initialState = 2">2</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-lg st-3" ng-click="workout.initialState = 3">3</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-lg st-4" ng-click="workout.initialState = 4">4</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-lg st-5" ng-click="workout.initialState = 5">5</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col col-xs-10 col-xs-push-1">
			<h2 class="text-center">Вес перед тренировкой</h2>

			<br />

			<div class="input-group">
				<input type="number" class="form-control input-lg" ng-model="workout.initialWeight">

				<span class="input-group-btn">
					<button class="btn btn-lg btn-danger" type="button" ng-click="workout.initialWeight = null">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>

<div ng-show="!adding && workout.initialState">
	<div class="text-center workout-timer">
		<h4>{{ workout.endTime - workout.startTime | amDurationFormat }}</h4>
	</div>

	<div class="toolbar row">
		<div class="col col-xs-6">
			<a href="" ng-click="finish()">
				<span class="glyphicon glyphicon-ok"></span>
			</a>
		</div>

		<div class="col col-xs-6 text-right">
			<a href="" ng-click="adding = true">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</div>

	<div class="item row" ng-repeat="completed in workout.exercises">
		<div class="col col-xs-12"
			swipe-action
			left-label="<span class='glyphicon glyphicon-repeat'></span>"
			right-label="<span class='glyphicon glyphicon-trash'></span>"
			on-swipe-left="removeExercise(completed)"
			on-swipe-right="repeatExercise(completed)">
			<div class="row no-margin">
				<div class="col col-xs-8 title bo-di-{{ completed.difficult }}">
					{{ completed.name }}
				</div>
				<div class="col col-xs-2 ex-weight">
					{{ completed.completedWeight }}
				</div>
				<div class="col col-xs-2 ex-times">
					{{ completed.completedTimes }}
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="adding && !current">
	<div class="toolbar row">
		<div class="col col-xs-6">
			<a href="" ng-click="adding = false">
				<span class="glyphicon glyphicon-arrow-left"></span>
			</a>
		</div>
	</div>

	<div class="item row" ng-repeat="exercise in exercises | orderBy:'accessed_at':true">
		<div class="col col-xs-12 title" ng-click="selectExercise(exercise)">
			{{ exercise.name }}
		</div>
	</div>
</div>

<div ng-show="adding && current">
	<div class="toolbar row">
		<div class="col col-xs-6">
			<a href="" ng-click="unsetExercise()">
				<span class="glyphicon glyphicon-arrow-left"></span>
			</a>
		</div>
	</div>

	<br />

	<div class="row">
		<div class="col col-xs-10 col-xs-push-1">

			<div class="row">
				<div class="col col-xs-12"
					ng-one-of
					items="current.weights"
					prop='current.completedWeight'
					label="Вес"></div>
			</div>

			<br />

			<div class="row">
				<div class="col col-xs-12"
					ng-one-of
					items="current.times"
					prop='current.completedTimes'
					label="Количество повторений"></div>
			</div>

			<div class="row">
				<div class="col col-xs-12">
					<h3>Сложность</h3>

					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button ng-class="{selected: current.difficult == 1}" class="btn btn-lg di-1" ng-click="current.difficult = 1">1</button>
						</div>
						<div class="btn-group">
							<button ng-class="{selected: current.difficult == 2}" class="btn btn-lg di-2" ng-click="current.difficult = 2">2</button>
						</div>
						<div class="btn-group">
							<button ng-class="{selected: current.difficult == 3}" class="btn btn-lg di-3" ng-click="current.difficult = 3">3</button>
						</div>
						<div class="btn-group">
							<button ng-class="{selected: current.difficult == 4}" class="btn btn-lg di-4" ng-click="current.difficult = 4">4</button>
						</div>
						<div class="btn-group">
							<button ng-class="{selected: current.difficult == 5}" class="btn btn-lg di-5" ng-click="current.difficult = 5">5</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
