<div class="toolbar row">
	<div class="col col-xs-6">
		<a href="/workouts-history">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</a>
	</div>
</div>

<div class="row workout-details">
	<div class="col col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3>Сводная статистика</h3>
			</div>

			<table class="table">
				<tbody>
					<tr>
						<td class="text-right">
							Колличество упражнений:
						</td>
						<td>
							{{ exercisesCount }}
						</td>
					</tr>
					<tr>
						<td class="text-right">
							Колличество подходов:
						</td>
						<td>
							{{ workout.exercises.length }}
						</td>
					</tr>
					<tr>
						<td class="text-right">
							Суммарно поднятый вес:
						</td>
						<td>
							{{ totalWeight }}
						</td>
					</tr>
					<tr>
						<td class="text-right">
							Длительность:
						</td>
						<td>
							{{ duration.get('h') }} ч. {{ duration.get('m') }} м.
						</td>
					</tr>
					<tr>
						<td class="text-right">
							Колличество упражнений:
						</td>
						<td>
							{{ exercisesCount }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col col-xs-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="text-center">Упражнение</th>
					<th class="text-center">Вес</th>
					<th class="text-center">Повт.</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" ng-repeat="completed in workout.exercises">
					<td>
						{{ completed.name }}
					</td>
					<td>
						{{ completed.completed_weight }}
					</td>
					<td>
						{{ completed.completed_times }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
