<div class="toolbar row">
	<div class="col col-xs-6">
		<a href="/workouts-history">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</a>
	</div>
</div>

<div class="row workout-details">
	<div class="col col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3>Сводная статистика</h3>
			</div>

			<table class="table">
				<tbody>
					<tr>
						<td class="text-right">
							Колличество упражнений:
						</td>
						<td>
							{{ exercisesCount }}
						</td>
					</tr>
					<tr>
						<td class="text-right">
							Колличество подходов:
						</td>
						<td>
							{{ workout.exercises.length }}
						</td>
					</tr>
					<tr>
						<td class="text-right">
							Суммарно поднятый вес:
						</td>
						<td>
							{{ totalWeight }}
						</td>
					</tr>
					<tr>
						<td class="text-right">
							Длительность:
						</td>
						<td>
							{{ duration.get('h') }} ч. {{ duration.get('m') }} м.
						</td>
					</tr>
					<tr>
						<td class="text-right">
							Колличество упражнений:
						</td>
						<td>
							{{ exercisesCount }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row item" ng-repeat="completed in workout.exercises">
	<div class="col col-xs-12">
		<div class="row no-margin">
			<div class="col col-xs-8 title">
				{{ completed.name }}
			</div>
			<div class="col col-xs-2 ex-weight">
				{{ completed.completed_weight }}
			</div>
			<div class="col col-xs-2 ex-times">
				{{ completed.completed_times }}
			</div>
		</div>
	</div>
</div>
