.col {
  padding: 0;
}
.nav a,
.item {
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 1.6em;
  line-height: 2.5em;
  border-bottom: thin dashed #888;
  background: #fff;
}
.item:hover {
  background: #ffe;
}
.toolbar {
  line-height: 2.5em;
  border-bottom: thin dashed #888;
}
.toolbar a {
  font-size: 2.5em;
  display: block;
  padding: 10px;
}
.controls .cancel {
  background: #f5f5ff;
}
.controls .remove {
  background: #fff5f5;
}
.ex-weight,
.ex-times {
  border-left: thin dashed #888;
}
.workout-timer {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 15px;
  margin-left: -15px;
}
.swiper {
  z-index: 100;
  background: #fff;
}
.swipe-action {
  position: absolute;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 10%;
  width: 30%;
  top: 0;
  border-bottom: thin dashed;
}
.swipe-action-left {
  background: #26926e;
}
.swipe-action-right {
  right: 0;
  background: #b53143;
}
h3 {
  margin-top: 10px;
}
.no-margin {
  margin: 0;
}
.workout-details .row .col {
  font-size: 1em;
}
.workout-details .left {
  padding-right: 15px;
  text-align: right;
}
.workout-details .right {
  padding-left: 15px;
}
.workout-details .panel {
  margin-bottom: 0;
}
.st-1,
.st-2,
.st-3,
.st-4,
.st-5,
.di-1,
.di-2,
.di-3,
.di-4,
.di-5 {
  color: #fff;
  font-size: 1.6em;
  font-weight: bold;
}
.st-1:hover,
.st-2:hover,
.st-3:hover,
.st-4:hover,
.st-5:hover,
.di-1:hover,
.di-2:hover,
.di-3:hover,
.di-4:hover,
.di-5:hover {
  background: transparent;
}
.di-5,
.st-1 {
  background: #ae0a0a;
}
.di-4,
.st-2 {
  background: #e04e29;
}
.di-3,
.st-3 {
  background: #ea4;
}
.di-2,
.st-4 {
  background: #bdd123;
}
.di-1,
.st-5 {
  background: #5ed025;
}
.bo-st-1,
.bo-di-5 {
  border-left: 10px solid #ae0a0a;
}
.bo-st-2,
.bo-di-4 {
  border-left: 10px solid #e04e29;
}
.bo-st-3,
.bo-di-3 {
  border-left: 10px solid #ea4;
}
.bo-st-4,
.bo-di-2 {
  border-left: 10px solid #bdd123;
}
.bo-st-5,
.bo-di-1 {
  border-left: 10px solid #5ed025;
}
.btn.selected {
  color: #000;
  background: transparent;
  box-shadow: none;
}
.completed-exercises .item {
  font-size: 1em;
}
