.col {
	padding: 0;
}

.nav a,
.item {
	display: block;
	text-align: center;
	border-bottom: thin dashed #888;
	cursor: pointer;
	font-size: 2em;
	line-height: 3em;
}

.item:hover {
	background: #ffe;
}

.toolbar {
	line-height: 3em;
	border-bottom: thin dashed #888;
}

.toolbar a {
	font-size: 3em;
	display: block;
	padding: 10px;
}

.controls .cancel {
	background: #f5f5ff;
}

.controls .remove {
	background: #fff5f5;
}

.ex-weight,
.ex-times {
	border-left: thin dashed #888;
}

.workout-timer {
	position: absolute;
	text-align: center;
	width: 100%;
}
