.col {
	padding: 0;
}

.nav a,
.item {
	display: block;
	text-align: center;
	cursor: pointer;
	font-size: 2em;
	line-height: 3em;
	border-bottom: thin dashed #888;
	background: white;
}

.item:hover {
	background: #ffe;
}

.toolbar {
	line-height: 3em;
	border-bottom: thin dashed #888;
}

.toolbar a {
	font-size: 3em;
	display: block;
	padding: 10px;
}

.controls .cancel {
	background: #f5f5ff;
}

.controls .remove {
	background: #fff5f5;
}

.ex-weight,
.ex-times {
	border-left: thin dashed #888;
}

.workout-timer {
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 15px;
	margin-left: -15px;
}

.swiper {
	z-index: 100;
	background: white;
	border-left: thin solid black;
	border-right: thin solid black;
}

.swipe-action {
	position: absolute;
	background: red;
	height: 85px;
	line-height: 85px;
	padding: 0 10%;
	width: 30%;
	top: 0;
	border-bottom: thin dashed;
}

.swipe-action-left {
	background: #26926e;
}

.swipe-action-right {
	right: 0;
	background: #b53143; 
}
